.simulateContainer {
	padding-top: 10px;
    padding-bottom: 5px;
}
.simulateButton{
    width: 40%;
    background: rgba(0,0,0,.5);
    border-radius: 4px;
    margin-top: 10px;
    color: #fff;
}
.simulateButton:hover {
    background: rgba(0,0,0,.8);
}
.lightbox {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 50px;
	z-index: 2000;
	background: #f6f6f6;
	min-height: 300px;
	
	color: white;
	border: solid 1px #ccc;
}
.lightboxHeader {
	text-align: right;
	height: 40px;
	background: white;
	color: #fff;
	border-bottom: 1px solid #ccc;
}
.lightboxHeader button {
	height: 39px;
}
.lightboxContent {
	padding: 10px 15px;
}
.timeseriesLink {
    width: 40%;
    height: 30px;
    background: rgba(0,0,0,.5);
    border-radius: 4px;
    margin-top: 10px;
}
.timeseriesLink:hover {
    background: rgba(0,0,0,.8);
}
.redFill {
	stoke: rgba(255, 0, 0, 0.3)!important;
    fll: rgba(255, 0, 0, 0.3)!important;
}